/*General Styling*/
h1{
    color: #369;
    font-size: 2em;
    font-weight: bold;
}

h2{
    color: #424242;
    font-size: 1.5em;
    font-weight: bold;
}

h3{
    color: #424242;
    font-size: 1em;
    font-weight: bold;
}

.row-details {
    padding: 1em;
}

/*Landing Container Styles */
.landing-container {
    font-family: 'ABeeZee', sans-serif;
    color: white;
    background-color: #424242;
    height: 300px;
    text-align: center;
    margin: -16px -17px;
}
#creator-name {
    padding: 2%;
    font-size: 40px;
}
#career-focus {
    font-size: 30px;
    padding: 0;
}
#dev-icon {
    padding-top: 2em;
    height: 35%;
    border-radius: 5px;
}

/*Skill Tile Styles */
.col-md-3{
    height: 15em;
    border: .1em solid white;
    box-sizing: border-box;
}

.panel-overlay p{
    color: #424242;
    font-size: 1em;
}

.panel-label{
    display: block;
    width: 100%;
}

/*Skill Tile Effects*/
.panel-overlay{
    position: absolute;
    font-size: 0.7em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #ADD8E6;
}


.panel-text p{
    color: #343434;
}

.panel-text a{
    text-decoration: underline;
    color: #343434;
}
.panel-text{
    color: White;
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.col-md-3:hover .panel-overlay{
    opacity: 1;
}

/* alternating tile colors*/

.skills-table:nth-child(odd) .col-md-3:nth-child(odd){
    background-color: #369;
}

.skills-table:nth-child(odd) .col-md-3:nth-child(even){
    background-color: cornflowerblue;
}

.skills-table:nth-child(even) .col-md-3:nth-child(odd){
    background-color: cornflowerblue;
}

.skills-table:nth-child(even) .col-md-3:nth-child(even){
    background-color: #369;
}

/*Education List Effects*/
.expand-toggle{
    opacity: 0;

}

.education-details .row{
    background-color: #E5E4E2;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.education-details .col-md-6{
    border: solid;
}
.education-details .col-md-4{
    border: solid;
}

.label-style{
    background-color:#369;
    user-select: none;
    color:#fff;
    cursor: default;
    float:left;  
}

/*Begin Programming Education Section*/
.prog-section{
    display: block;
    padding-bottom: 2%;
}

#prog-toggle:checked + #prog-label::after{
    content: " Collapse ";
}

#prog-toggle + #prog-label::after{
    content: " Click for  Details";
}

#prog-details{
    display: none;
}

#prog-toggle:checked ~ #prog-details{
    display: inline-block;
}

/*End Programming Education Section*/

/*Begin CET Education Section*/
.cet-section{
    display: block;
    padding-bottom: 2%;
}

#cet-toggle:checked + #cet-label::after{
    content: " Collapse ";
}

#cet-toggle + #cet-label::after{
    content: " Click for Details ";
}

#cet-details{
    display: none;
}

#cet-toggle:checked ~ #cet-details{
    display: inline-block;
}
/*End CET Education Section*/

